<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{{{REVEAL_ROOT}}}dist/reset.css">
		<link rel="stylesheet" href="{{{REVEAL_ROOT}}}dist/reveal.css">
		<link rel="stylesheet" href="{{{REVEAL_ROOT}}}dist/theme/{{{REVEAL_THEME}}}.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{{REVEAL_ROOT}}}plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

<section data-markdown>
<textarea data-template>
